@charset "UTF-8";
html, body, ul, li, dl, dt, dd, p, ol, h1, h2, h3, h4, h5, h6, form, img, table, fieldset, legend, input, b {
  margin: 0;
  padding: 0; }

ul, li, ol, dl {
  list-style: none; }

img {
  border: 0; }

img {
  display: block; }

a {
  text-decoration: none; }

i, em {
  font-style: normal; }

b, strong {
  font-weight: normal; }

body {
  font-family: "微软雅黑"; }

input, a {
  outline: none; }

/*清除input自带边框*/
#top {
  height: 50px;
  background: #f0eef1;
  border-bottom: 2px solid #cecece; }
  #top .top-nav1 {
    margin-left: 80px; }
    #top .top-nav1 li:first-child {
      border: 1px solid #cecece;
      border-radius: 2px 2px 0 0;
      border-bottom: 0;
      background: #fff; }
    #top .top-nav1 li:first-child a:first-child {
      color: #ff5c00; }
    #top .top-nav1 li:last-child span {
      width: 12px;
      height: 20px;
      position: absolute;
      top: 24px;
      background: url(../img/spitir.png) -320px -240px;
      transition: all .5s; }
    #top .top-nav1 li:last-child {
      text-align: center; }
      #top .top-nav1 li:last-child img {
        display: none; }
      #top .top-nav1 li:last-child:hover {
        border: 1px solid #FF5C00;
        border-bottom: 0;
        background: #fff; }
        #top .top-nav1 li:last-child:hover span {
          background: url(../img/spitir.png) -320px -265px; }
        #top .top-nav1 li:last-child:hover img {
          display: block;
          z-index: 1;
          cursor: pointer;
          position: absolute;
          left: 274px;
          border: 1px solid #FF5C00; }
  #top .top-nav1 li {
    float: left;
    width: 96px;
    height: 35px;
    margin-top: 14px;
    font-weight: 900; }
    #top .top-nav1 li a {
      color: #666666;
      font-size: 14px;
      margin: 20px;
      line-height: 35px; }
      #top .top-nav1 li a:hover {
        color: #ff5c00; }
  #top .top-nav2 {
    margin-left: 650px;
    position: relative; }
    #top .top-nav2 li:first-child a {
      color: #ff5c00;
      margin: 0px; }
    #top .top-nav2 li:first-child a:last-child {
      margin-right: 5px; }
    #top .top-nav2 .ding {
      padding-right: 15px; }
      #top .top-nav2 .ding .dingli {
        position: absolute;
        width: 79px;
        z-index: 2;
        left: 228px;
        top: 40px;
        background: #fff;
        display: none; }
        #top .top-nav2 .ding .dingli li {
          height: 10px;
          border: 0;
          text-align: left;
          margin: 8px; }
          #top .top-nav2 .ding .dingli li a {
            color: #000;
            margin: 0; }
      #top .top-nav2 .ding:hover {
        background: #fff;
        border: 1px solid #FF5C00;
        border-bottom: 0;
        box-sizing: border-box; }
        #top .top-nav2 .ding:hover span {
          border-width: 0 6px 6px;
          border-style: solid;
          border-color: transparent transparent #FF5C00;
          position: absolute;
          top: 30px; }
        #top .top-nav2 .ding:hover .dingli {
          display: block;
          border: 1px solid #FF5C00;
          border-top: 0; }
          #top .top-nav2 .ding:hover .dingli a:hover {
            color: #FF5C00; }
    #top .top-nav2 .ding span {
      width: 0px;
      height: 0px;
      border-width: 6px 6px 0;
      border-style: solid;
      border-color: #333 transparent transparent;
      position: absolute;
      top: 30px; }
    #top .top-nav2 .ke {
      padding-right: 10px; }
      #top .top-nav2 .ke .keli {
        position: absolute;
        width: 74px;
        z-index: 2;
        left: 318px;
        top: 40px;
        background: #fff;
        display: none; }
        #top .top-nav2 .ke .keli li {
          height: 10px;
          border: 0;
          text-align: left;
          margin: 8px; }
          #top .top-nav2 .ke .keli li a {
            color: #000;
            margin: 0; }
      #top .top-nav2 .ke:hover {
        background: #fff;
        border: 1px solid #FF5C00;
        border-bottom: 0; }
        #top .top-nav2 .ke:hover span {
          border-width: 0 6px 6px;
          border-style: solid;
          border-color: transparent transparent #FF5C00;
          position: absolute;
          top: 30px; }
        #top .top-nav2 .ke:hover .keli {
          display: block;
          border: 1px solid #FF5C00;
          border-top: 0; }
          #top .top-nav2 .ke:hover .keli a:hover {
            color: #FF5C00; }
    #top .top-nav2 .ke span {
      width: 0px;
      height: 0px;
      border-width: 6px 6px 0;
      border-style: solid;
      border-color: #333 transparent transparent;
      position: absolute;
      top: 30px; }
  #top .top-nav2 li {
    float: left;
    height: 22px;
    border-right: 1px solid #cecece;
    margin-top: 20px;
    margin-left: 10px; }
    #top .top-nav2 li a {
      color: #666666;
      font-size: 12px;
      margin: 8px;
      line-height: 24px; }
      #top .top-nav2 li a:hover {
        color: #ff5c00; }
    #top .top-nav2 li span {
      font-size: 12px;
      margin-right: 5px;
      color: #666666; }
  #top .top-nav2 li:last-child {
    border: 0; }

#header {
  height: 96px;
  float: left; }
  #header img {
    margin-left: 190px;
    margin-top: 20px; }

#main {
  width: 100%;
  height: 477px;
  background: #ececec;
  float: left; }
  #main .main-one {
    width: 900px;
    height: 389px;
    background: #fff;
    margin-left: 189px;
    margin-top: 53px;
    position: relative;
    border: 1px solid #cecece; }
    #main .main-one .zhuce {
      width: 218px;
      height: 35px;
      line-height: 30px;
      position: absolute;
      border: 1px solid #cecece;
      border-bottom: 0;
      top: -37px;
      left: 160px;
      background-color: #f8f8f8;
      position: relative;
      cursor: pointer; }
      #main .main-one .zhuce em {
        width: 16px;
        height: 12px;
        background: url(../img/zhuce.jpg);
        position: absolute;
        top: 10px;
        left: 88px; }
      #main .main-one .zhuce span {
        font-size: 12px;
        color: #333;
        margin-left: 110px;
        font-weight: 900; }
    #main .main-one .denglu {
      width: 218px;
      height: 35px;
      line-height: 30px;
      position: absolute;
      border: 1px solid #cecece;
      border-top: 2px solid #FF5C00;
      border-bottom: 0;
      top: -38px;
      left: 387px;
      background-color: #fff;
      cursor: pointer; }
      #main .main-one .denglu em {
        width: 17px;
        height: 14px;
        background: url(../img/denglu.jpg);
        position: absolute;
        top: 10px;
        left: 88px; }
      #main .main-one .denglu span {
        font-size: 12px;
        color: #FF5C00;
        margin-left: 110px;
        font-weight: 900; }
    #main .main-one .pic {
      width: 377px;
      height: 350px;
      float: left; }
      #main .main-one .pic img {
        margin-left: 36px; }
    #main .main-one .cok {
      width: 522px;
      height: 350px;
      float: left;
      position: relative; }
      #main .main-one .cok em {
        width: 15px;
        height: 16px;
        background: url(../img/register.png) -130px -8px;
        position: absolute;
        left: 384px;
        top: 57px; }
      #main .main-one .cok b {
        width: 15px;
        height: 16px;
        background: url(../img/register.png) -163px -10px;
        position: absolute;
        left: 384px;
        top: 116px; }
      #main .main-one .cok .txt {
        position: absolute;
        left: 118px;
        top: 61px;
        font-size: 12px; }
      #main .main-one .cok #txt {
        margin-left: 170px;
        margin-top: 50px;
        display: block;
        width: 245px;
        height: 31px;
        border: 1px solid #cecece;
        font-size: 12px; }
      #main .main-one .cok .psw {
        position: absolute;
        left: 129px;
        top: 113px;
        font-size: 12px; }
      #main .main-one .cok #psw {
        margin-left: 170px;
        display: block;
        width: 245px;
        height: 31px;
        border: 1px solid #cecece;
        font-size: 12px; }
      #main .main-one .cok #btn1 {
        width: 245px;
        height: 38px;
        border: 1px solid #cecece;
        background: url(../img/yanzheng.jpg) center/cover;
        margin-left: 170px;
        cursor: pointer;
        display: block; }
      #main .main-one .cok .cuo {
        width: 264px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        margin-left: 100px; }
        #main .main-one .cok .cuo i {
          color: red;
          display: none; }
      #main .main-one .cok .cuo1 {
        width: 264px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        margin-left: 100px; }
        #main .main-one .cok .cuo1 i {
          color: red;
          display: none; }
      #main .main-one .cok .yanzheng {
        position: absolute;
        width: 264px;
        height: 55px;
        border: 1px solid #FF5C00;
        box-shadow: 0px 1px 1px 0px #FF5C00;
        line-height: 50px;
        text-align: center;
        left: 170px;
        top: 186px;
        display: none;
        background: url(../img/yanzhengtu.jpg);
        z-index: 2; }
      #main .main-one .cok #cek {
        margin-left: 170px;
        margin-top: 3px; }
      #main .main-one .cok i {
        font-size: 12px; }
      #main .main-one .cok #btn2 {
        width: 227px;
        height: 38px;
        background: url(../img/register.png) -1px -330px;
        margin-left: 170px;
        margin-top: 25px;
        cursor: pointer;
        border: 0;
        display: block; }
      #main .main-one .cok strong {
        font-size: 12px;
        margin-left: 170px; }
      #main .main-one .cok p {
        width: 109px;
        height: 24px;
        background: url(../img/register.png) 0 -301px;
        margin-left: 170px; }

#address {
  height: 175px;
  background: #fff;
  position: relative;
  float: left; }
  #address ul {
    float: left;
    margin-left: 468px;
    margin-top: 22px;
    padding-right: 432px; }
    #address ul li {
      float: left;
      margin: 5px; }
      #address ul li a {
        font-size: 12px;
        color: #999999;
        padding-right: 5px;
        border-right: 1px solid #999;
        height: 12px; }
        #address ul li a:hover {
          color: #FF5C00; }
    #address ul li:last-child a {
      border: 0; }
  #address p {
    font-size: 12px;
    line-height: 25px;
    color: #999; }
  #address .p1 {
    margin-left: 510px; }
  #address .p2 {
    margin-left: 272px; }
  #address span {
    width: 101px;
    height: 37px;
    float: left;
    margin-top: 5px;
    display: block;
    margin-left: 605px; }
  #address .e1 {
    position: absolute;
    font-size: 12px;
    color: #999;
    left: 500px;
    top: 150px; }
  #address .e2 {
    position: absolute;
    font-size: 12px;
    color: #999;
    left: 650px;
    top: 150px; }
    #address .e2 i {
      width: 20px;
      height: 20px;
      position: absolute;
      left: -20px;
      background: url(../img/ghs.png); }

/*# sourceMappingURL=denglu.css.map */
